@import './reset.scss';

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 85px; 
    color: rgba(0, 0, 0, 0.87);
    font-family: SoDoSans, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 0px 2px 5px gray;
    align-items: center;
}

.nav-bar > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    height: 100%;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-right > * {
    display: flex;
    align-items: center;
    width: 100px
}

.nav-logo-image {
    width: 100%;
}

.nav-logo {
    padding: 5%;
    width: 5%;
}

.nav-left-tabs {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-left-tabs > * {
    display: flex;
    align-items: center;
}

.nav-store-finder{
    display: flex;
    flex-direction: row;
}

.btn-sign-in {
    &:hover {
        background-color: gray;
    }
    height: 20px
}

.btn-join-now {
    color: white;
    background-color: black;
    &:hover {
        background-color: gray;
    }
    height: 20px
}

.nav-left-tabs > * > a {
    &:hover {
        color: green;
    }
}

.nav-store-finder > a {
    &:hover {
        color: green;
    }
}
